.wrapper{
    width: 786px;
    margin:auto;
}




h1 {
    background-color:#a62525;
    color: white;
    text-align: center;
}
.sunset {
    display: block;
    margin: auto;
    width: 786px;
    height: 221px;
}
.cars {
    display:flex;
    justify-content: center;
}
.cars img {
    border:2px dashed black;
}
h2 {
    background-color: black;
    color: white;
    text-align: center;
}


